body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #edf0f7;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #484849;
    z-index: 1000;
    color: white;
}
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(221, 109, 17);
    margin: 4px 0;
}
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: brightness(0) invert(1);

}
.sidebar {
    position: fixed;
    top: 0;
    left: -500px; 
    width: 400px;
    height: 100%;
    background-color: #212122;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
    transition: left 0.3s ease;
    z-index: 10000;
    overflow-y: auto;

}
.sidebar.active {
    left: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 20px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    padding: 10px;
}
.sidebar ul li a:hover {
    background-color: rgb(221, 109, 17); /* Highlight color on hover */
    color: white;
    border-radius: 5px;
}
.sidebar ul li a img{
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
    padding-right: 20px; /* Space between icon and text */
    filter: brightness(0) invert(1);
}
@media  (max-width: 768px) {
    .sidebar{
    width: 250px;
    }
}